ul{
  list-style: none;
}

.menu {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
}
  
.menu-flex {
  display: flex;
  align-items: center;
}
  
.menu-column {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
}
  
.menu-column.menu-second-column {
  justify-content: flex-end;
}
 
.menu-nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
  
.menu-nav ul li a {
  text-decoration: none;
  color: #585e65;
}
  
.menu-link-button {
  text-decoration: none;
  height: 48px;
  background-color: #4c6ef5;
  color: #fff;
  padding: 0 32px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
    
.products-wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container__1{
  display: flex;
  justify-content: space-between;
  width: 1200px;
}

.container__2{
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.tv{
  height: 500px;
  width: 374px;
  left: 130px;
  top: 114px;
  border-radius: 8px;
  
}
.tv-p{
  height: 56px;
  width: 335px;
  left: 151px;
  top: 410px;
  font-weight: 600px;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
}
.adicione{
  width: 335px;
  justify-content: center;
  line-height: 45px;
  text-align: center;
  height: 48px;
  left: 151px;
  border: 1.5px solid#4C6EF5;
  border-radius: 8px;
  color: white;
  top: 540px;
  background-color:#4C6EF5;
}
img{
  padding: 20px;
  justify-content: center;
}
.celular-img{
  height: 56px;
  width: 335px;
  left: 151px;
  top: 410px;
  font-weight: 600px;
}
.airFryer-img{
  height: 56px;
  width: 335px;
  left: 151px;
  top: 410px;
  font-weight: 600px;
}
.monitor-img{
  height: 56px;
  width: 335px;
  left: 151px;
  top: 410px;
  font-weight: 600px;
}
.cadeiraGamer-img{
  height: 56px;
  width: 335px;
  left: 151px;
  top: 410px;
  font-weight: 600px;
}
